<!DOCTYPE html>
	<head>
	
	</head>
	
	<body>
		<ul>
		{% for app, ratings in dict.items %}
			<li>{{app}}</li>
			<ul>
			{% for score in ratings %)
				<li>{{score.membership.member}}: {{score}} </li>
			(% endfor %)
			</ul>
		{% endfor %}
		</ul>
	</body>
<!--
top = highest mean score
bottom = lowest mean score
organization(mean score) (number of users that have not viewed)
giving projects grouping
select specific projects
top, bottom third
individual scores/notes expand
name, score/not submitted
-->
</html>