{% extends 'fund/blocks.html' %}
<head>
	<link href="index.css" type="text/css" rel="stylesheet" />
</head>

{% block progress %}
<div id="progress_container">
  <div id="progress_bar" style="width:{{membership.giving_project.bar_width}}%"></div>
</div>
<div id="progress_desc">The giving project has raised ${{membership.giving_project.pledged}} so far</div>
{% endblock %}


{% for grant in grant_list %}
	{% if submitted %}
		grant
{% endfor %}
	
	{% if in_process_list[]  %}
		= grant
{% endfor %}

	{% e %}
		pending_list[] = grant
{% endfor %}


<div>
	Pending
	<ul>
	{% for grant in unreviewed_grants %}
		<li>{{grant.organization}}</li>
	{% endfor %}
	 </ul>
</div>

<div>
	In Process
	<ul>
	{% for grant in review_in_progress_grants %}
		<li>{{grant.organization}}</li>
	{% endfor %}
	<!--<li><a href="">{{grant.organization}}</a></li>-->
	 </ul>
</div>

<div>
	Submitted
	<ul>
	{% for grant in reviewed_grants %}
		<li>{{grant.organization}}</li>
	{% endfor %}
	 </ul>
</div>


{% block content %}

<!-- content goes here -->
def grant_list(grant_status): 

{% endblock %}

def grant_type_list(list):

	{{grant.organization}}
{% endfor %}